/* *universal selector affects every element on the page */
* {
    box-sizing: border-box;
    padding: 0;
}

#visa{
background-color: #eee;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    background-color: #fff
}

/* ids can only be applied to one element/page starts with # */

nav {
    background-color: #26374a;
    padding: 1.2em;
    text-align: center;
}

/* pseudo classes */
a:link {
    color: #0f163b;
    margin-right: 0.5em;
    text-decoration: underline;
}

a:visited {
    color:#646496;
    text-decoration: none;
}

a:hover {
    color: #3d3dc7;
    text-decoration: underline;
}

.lg-link{
    padding: 1vh;
    display: flex;
    justify-content: end;
}

header {
    display: flex;
    justify-content: space-between;
    color: #0f163b;
    padding: 15px;
    margin: 0vh 16.75vw 2.5vh 16.75vw;
}

.header-main{
    display: flex;
    align-items: center;
  
}

.article-pull-quote, .next-article {
    margin: 0;
    padding: 0;
    width: 100vw;
}

section{
    background-color: #ddd;
    width: 100vw;
    margin: 0;
}

.next-article{
    display: flex;
    margin-top: 0;
    width: 100%;
}

.visa-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px; 
    width: 100%;
    margin: auto;
    padding: auto;
}

.visa-list a{
    margin: 0;
    padding: 0;
}

section h3{
    text-align: center;
}


.pull-quote-gov{
    display: flex;
    background:url(../images/cnd-landscape-crop.jpg) scroll;
    font-size: 3em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    color: #eee;
    width: 100vw;
    height: 25vh;
    background-size: cover;
    background-position: initial;
    /* position: relative; */
}

hgroup{
    display: flex;
    /* flex-direction: column; */
    position: relative;
    /* align-items: flex-start; */
    max-width: 1000px;
    width: 100%;
}

hgroup h2 {
    font-size: 2.5em;
    /* text-transform: capitalize; */
    /* text-align: center; */
    margin: .2em;  /* This ends up being 8px. It is half of the base font size which is 16px */
}

hgroup h3 {
    font-size: 1.25em;
    margin: .5em .5em .5em 0;  
}

.article-pull-quote{
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    
}

.over-text-center{
    display: flex;
    max-width: 1000px;
    width: 100%;
    justify-content: flex-start;
    position: absolute;
    
}

.over-text{
    display: flex;
    flex-direction: column;
    background-color: rgb(4,9,29, 0.75);
    color: #eee;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    min-width: 600px;
    width: auto;
    position: relative;
    opacity: 1;
    margin: auto;
    justify-content: left;
}

.over-text h3{
    padding: 2vh 0 0.5vh 2vh;
}

.over-text h2{
    padding: 0 0 0 2vh;
}

.custom-border {
    position: relative;
    margin-left: 0;
    
}

.custom-border::after {         /*This class was generated by GPT but I adjusted the numbers.*/
    content: '';
    position: absolute;
    left: 2vh;
    bottom: -2vh;
    width: 20%; 
    height: 0.77vh; /* Border thickness */
    background-color: rgb(42, 8, 233); /* Border color */
    

}





h1 {
    font-size: 4em;
    text-transform: capitalize;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
    margin-bottom: 0.50em;
    
    /* border-bottom:solid 1px #333 ; */
}


article {
    /* background-color:#eee; */
    max-width: 1000px; /* this is the ceiling. the width element is 100% but it still stops the moment it reaches 1k pixels */
    width: 100%;
    padding: auto;
    margin: auto;
}



article h2 {
    font-size: 2.5em;
    /* text-transform: capitalize; */
    /* text-align: center; */
    margin: .2em;  /* This ends up being 8px. It is half of the base font size which is 16px */
}

article h3 {
    font-size: 1.25em;
    /* text-transform: capitalize; */
    /* text-align: center; */
    margin: .5em .5em .5em 0;  /* This ends up being 8px. It is half of the base font size which is 16px */
}

p {
    font-size: 1.3em;
    line-height: 130%;
}

/* classes can be applied ot many differen elements. They start with a *.* */

.container{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 30%;
    padding: 10px;
}

.sub-container{
    padding-top: 3vh;
    border-top: solid white 2px;
}

.flag-logo {
    margin: 0 5vw 0 0;
    width: 34vh
}

.text {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20%;
    float: left;
}

.multi-col-cnd-gov-header {
    column-count: 2;
    font-size: calc(12px + 1.5vw);
    padding-left: 5%;
}

/* responsive img */

img {
    display: block;
    width: 50%;
    margin: auto;
}

.parent {
    height: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .box {
    flex: 1 0 17%;
    width: 20vw;
    height:20vw;
    background-color: #000000;
    margin: 2em;
    transform: scale(1);
    /* transition: all .3s cubic-bezier(0.6, -0.28, 0.735, -0.28); cubic-bezier: manually decide how the animation flows */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75); /*x y blur-value color (rgba: red green blue and opacity*//
  }

  .box h3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    margin: 40%;
  }

  .box:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
   transform: scale(1.1);
   box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.75);
  }

  .box:hover p{
    text-align: center;
   transform: scale(1.1);
   color: #000000;
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
  }

  .hidden{
    color: #ddd;
   display: flex;
   justify-content: center;
   align-items: center;
  }


  .box1 {
    width: 1000px;
    height: 1000px;
    margin: 1em;
  }


footer {
    color: #eee;
    background-color: #26374a;
    padding: 1.2em;
    text-align: center;
}